---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/123/reviews?api_key=c5d87ff6f6c9e5b4d80f024fe25ecdf9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 605243ff02f2e2fe04f33ca6e4f6620b
      X-Memc-Age:
      - '22260'
      X-Memc-Expires:
      - '6430'
      Etag:
      - W/"efaf808243194fc5a6fabad65ed9db15"
    body:
      encoding: ASCII-8BIT
      string: '{"id":123,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Sat, 02 Dec 2023 00:18:09 GMT
recorded_with: VCR 6.2.0
